ul {
  list-style-type: none;
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.email {
  margin: .35em;
}

.left {
  float: left;
}

.right {
  float: right;
}

li a {
  display: block;
  color: rgb(31, 27, 27);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px auto;
  padding: 5% 15%;
}

.grid-item {
   line-height: normal;
   background-color: rgba(255, 255, 255, .8);
   border: 1px solid rgba(0, 0, 0, .8);
   padding: 20px;
   text-align: center;
 }

 #video {
   display: block;
   margin: auto;
 }
