@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  text-decoration: underline;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 607px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    background-color: rgb(245, 255, 255);
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.email-container {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.email {
  margin: .35em;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px auto;
  padding: 5% 15%;
}


.grid-item {
  padding: 20px;
  text-align: start;
}

.grid-icon {
  text-align: center;
}

#video {
  display: block;
  margin: auto;
}

@media (max-width: 575px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-icon {
    display: none;
  }
}

section {
  display: flex;
  margin-top: 60px;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: around;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}